body {
    font-family: 'Vesper Libre', serif;
    padding-top: 40px;
}
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.btn-peach {
    background-color: #e5fce1;
    color: #333;
}
.btn-peach:hover {
    background-color: #FFC09F;
    color: #333;
}

.navbar {
    background-color: #e5fce1;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    text-decoration:none;
    color:grey;
    border:1px solid transparent;
    border-radius:2px 2px 0 0;
    padding-bottom: 0 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

.nav-link:hover {
    color: #333;
    border-bottom: 1px solid #CCC;
    padding-bottom: 0 !important;
}

#banner {
    font-size: 34pt;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.2;
    background-color: #9ea68c;
    color:black;
}

.facebookAnchor {
    width: 92%;
    background-color: #9ea68c;
    color: #000000;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    outline: none;
    text-decoration: none;
}

.facebookAnchor:hover {
    background-color: #6d755e;
    text-decoration: none;
    color: black;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    width: 600px;
    height: 400px;
}

.card-flip {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .flip-box, .card-flip {
        width: 300px;
        height: 200px;
    }
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* Landing Hero */
.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.parallax-landing {
    background-image: url("../img/placeholder_lunch.jpg");
}

.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .landing-hr {
        width: 75%;
        margin-left: 12.5% !important;
    }

    .landing-tag {
        font-size: 14px !important;
    }

    .landing-header {
        font-size: 36px !important;
    }
}

.landing-tag {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.landing-hr {
    height: 5px;
    border: none;
    background: #FFF;
    margin-left: 0px;
    margin-right: 0px;
}

.landing-header {
    color: #FFF;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

.involved-hr {
    height: 3px;
    border: none;
    background: #FFF;
    width: 50%;
    margin: auto;
}

img.business-card {
    width: 75%;
}

/** Credit to https://codepen.io/jesuarva/pen/qowdxR for shadow **/
.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

#footer {
    background-color: #2F323A;
    color: white;
}
