body {
    background-color: #f9f8f4;
    font-family: MuseoSansRounded;
    color: #807da1;
    cursor: default;
    letter-spacing: 2pt;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /*min-width: 610px;
    width: auto !important;
    width: 610px;*/
    width: 100%;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
}

#material-container .material {
    color: #f9f8f4;
    background-color: #88cca4;
}

.btn-arrow {
    width: 75px;
    height: 75px;
}
.btn-arrow[disabled] {
    opacity: 0.5;
}

.nav-btn-arrow {
    height: 50px;
}
.nav-btn-arrow[disabled] {
    opacity: 0.5;
}

.dressing-room-heading {
    color: #f9f8f4;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
    .nav-btn-arrow {
        visibility: hidden;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
    .nav-btn-arrow {
        visibility: hidden;
    }
}

@media all and (max-width: 734px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
    .nav-btn-arrow {
        visibility: visible;
   }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}

