html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #50514F;
}

section {
    scroll-behavior: smooth;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

/*  Nav */
nav {
    background-color: #59ABE3;
}
.navbar-brand {
    color: #50514F !important;
}
.nav-item.active .nav-link {
    color: #50514F !important;
}

@media (max-width: 1200px) {
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
    }
}

/* Splash Page */
#splash {
    height: 100vh;
    position: relative;
    background: #a3d5ff;
}

#splash canvas, #splash-overlay {
    position: absolute;
}

#splash-overlay {
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}
#splash-overlay h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 30pt;
}
#splash-overlay p {
    font-size: 1.25rem;
    line-height: 28pt;
    color: #ad7a99;
}
#splash-overlay .btn {
    border-color: #59abe3;
    color: #59abe3;
    border-width: 0.15rem;
    border-radius: 0;
}
#splash-overlay .btn:hover {
    border-color: #ad7a99;
    color: #d9f0ff;
    background-color: #ad7a99;
    border-width: 0.15rem;
    border-radius: 0;
}
#splash-overlay a:focus {
    outline: none;
}

#splash canvas {
    top: 0;
    left: 0;
}

/* About */
.overview-circle {
    color: #ad7a99;
}

#about h5 {
    color: #50514F;
    font-weight: 400;
}

.about-blurb {
    font-size: 1rem;
}

.progress-label {
    margin: 0;
}

.bar-lavender {
    background-color: #ad7a99 !important;
}

.bar-winter {
    background-color: #a3d5ff !important;
}

