html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Adelle';
    src: url("./Adelle_Reg.otf") format("opentype");
}

@font-face {
    font-family: 'ZAG';
    src: url("./ZAG Regular.otf") format("opentype");
}

body {
    font-family: 'Adelle';
    color: #1C2021;
    overflow-x:hidden;
    min-width: 300px;
}

section {
    scroll-behavior: smooth;
}

/*  Nav */
.navbar-custom {
    background-color: #EFEFEF;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #00B4DB;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #00B4DB;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #25428e;
}

/* Home */
#overviewCarousel img {
    height: 550px;
}

@media screen and (max-width: 600px) {
    #overviewCarousel img {
        height: 300px;
    }
}

#overviewCarousel .btn {
    border: 2px solid white !important;
}
#overviewCarousel .btn:hover {
    background-color: #FFF !important;
    color: #1C2021 !important;
}

/* Schedule Block */
#scheduleBlock {
    background-color: #EFEFEF;
    padding: 0.8rem;
    display: revert;
}

#scheduleMobileBlock {
    position: fixed;
    padding: 0.8rem;
    bottom: 0;
    width:100%;
    background-color: #EFEFEF;
    padding: 0.8rem;
    visibility: hidden;
}

.float-parent {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 600px) {
    #scheduleBlock {
        display:none;
    }

    #scheduleMobileBlock {
        visibility: visible;
    }

    .float-parent {
        margin-top: 120px;
    }
}

#scheduleBlock .btn, #scheduleMobileBlock .btn {
    background-color: #00B4DB;
    color: white;
}

#scheduleBlock .btn:hover, #scheduleMobileBlock .btn:hover {
    background-color: #25428e;
}

/* Service Cards */
#serviceCards {
    height: 100%;
}

#serviceCards .card-title {
    color: #00B4DB;
}

#serviceCards .card {
    margin-bottom: 0.8rem;
}

#serviceCards .card-href {
    color: #25428e;
    text-decoration: none !important;
    cursor: pointer;
}

#serviceCards .btn {
    border: 2px solid #25428e !important;
    color: #25428e;
}

#serviceCards .btn:hover {
    background-color: #25428e !important;
    color: #FFF !important;
}

/* Info */
#info {
    font-family: 'ZAG';
    font-size: 1.2rem;
}

#info .pbg-border-gray .btn, #info .pbg-dark .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FFF !important;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 1.2rem;
}

#info .pbg-border-gray .btn:hover, #info .pbg-dark .btn:hover {
    background-color: #FFF !important;
    color: #1C2021;
}

#info .pbg-border-blue .btn:hover, #info .pbg-light-gray .btn:hover {
    background-color: #1C2021 !important;
    color: #FFF;
}

#info .pbg-border-blue .btn, #info .pbg-light-gray .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #1C2021 !important;
    margin-bottom: 1.2rem;
    text-decoration: none;
    color: #1C2021;
}


.pbg-border-gray {
    background-color: #50616B;
    color: #FFF;
    font-weight: bolder;
}

.pbg-border-blue {
    background-color: #00B4DB;
    color: #1c2021;
    font-weight: bolder;
}

.pbg-light-gray {
    background-color: #EFEFEF;
    color: #1C2021;
    font-weight: bolder;
}

.pbg-dark {
    background-color: #1C2021;
    color: #FFF;
    font-weight: bolder;
}

.info-text {
    font-weight: normal;
    margin-bottom: 2rem;
}

/* Footer */
#footer {
    width: 100%;
    background-color: #50616B;
    padding-top: 1rem;
    color: #FFF;
    font-family: 'ZAG';
}

#footer h5, #footer h3{
    color: #FFF;
    font-family: 'Adelle';
}

#contactBlock p {
    margin-bottom: 0px;
}

#footer td {
    padding: 0.25rem;
}

#footer .footer-copyright a {
    text-decoration: none;
    color: #c7c7c7;
}

/* About */
.border-blue {
    color: #00B4DB;
}

/* Contact Us */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 770px) {
    .offset-4-unresponsive {
        margin-left: 0 !important;
    }
}

#lethbridgeMap {
    display: none;
}
#lethbridgeMap h1 {
    color:#00B4DB;
}
#lethbridgeMap tr:nth-child(even) {
    background-color: #EFEFEF;
}

#medicineHatMap {
    display: none;
}

#lethbridgeControl, #medicineHatControl, #lethbridgeMap .btn:hover {
    color: #FFF;
    background-color: #00B4DB;
}

#lethbridgeControl:hover, #medicineHatControl:hover, #lethbridgeMap .btn:hover {
    color: #FFF;
    background-color: #25428e;
}

.active-control {
    background-color: #25428e !important;
}