html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Adelle';
    src: url("./Adelle_Reg.otf") format("opentype");
}

@font-face {
    font-family: 'ZAG';
    src: url("./ZAG Regular.otf") format("opentype");
}

body {
    font-family: 'Adelle';
    color: #1C2021;
    overflow-x:hidden;
    min-width: 300px;
}

section {
    scroll-behavior: smooth;
}

.zag {
    font-family: 'ZAG';
}

.border-blue {
    color: #00B4DB;
}

/*  Nav */
.navbar-custom {
    background-color: #EFEFEF;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #00B4DB;
}

.navbar-custom .navbar-nav .nav-link {
    color: #00B4DB;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #25428e;
}
div .dropdown-item.active {
    color: #FFF !important;
}

div .dropdown-item {
    color: #00B4DB !important;
}

div .dropdown-item:hover {
    color: #25428e !important;
}

#patientInfoDropdown {
    cursor: pointer;
}

/* Home */
#overviewCarousel img {
    height: 550px;
}

@media screen and (max-width: 600px) {
    #overviewCarousel img {
        height: 300px;
    }
}

#overviewCarousel .btn-outline-light {
    border: 2px solid white !important;
}
#overviewCarousel .btn-outline-dark {
    border: 2px solid black !important;
}
#overviewCarousel .btn:hover {
    background-color: #FFF !important;
    color: #1C2021 !important;
}

/* Schedule Block */
#scheduleBlock {
    background-color: #EFEFEF;
    padding: 0.8rem;
    display: revert;
}

#scheduleMobileBlock {
    position: fixed;
    padding: 0.8rem;
    bottom: 0;
    width:100%;
    background-color: #EFEFEF;
    padding: 0.8rem;
    visibility: hidden;
}

.float-parent {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 600px) {
    #scheduleBlock {
        display:none;
    }

    #scheduleMobileBlock {
        visibility: visible;
    }

    .float-parent {
        margin-top: 120px;
    }
}

#scheduleBlock .btn, #scheduleMobileBlock .btn {
    background-color: #00B4DB;
    color: white;
}

#scheduleBlock .btn:hover, #scheduleMobileBlock .btn:hover {
    background-color: #25428e;
}

/* Service Cards */
#serviceCards {
    height: 100%;
}

#serviceCards .card-title {
    color: #00B4DB;
}

#serviceCards .card {
    margin-bottom: 0.8rem;
}

.card-href {
    color: #25428e;
    text-decoration: none !important;
    cursor: pointer;
}

#serviceCards .btn {
    border: 2px solid #25428e !important;
    color: #25428e;
}

#serviceCards .btn:hover {
    background-color: #25428e !important;
    color: #FFF !important;
}

/* Info */
#info {
    font-family: 'ZAG';
    font-size: 1.2rem;
}

#info .pbg-border-gray .btn, #info .pbg-dark .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FFF !important;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 1.2rem;
}

#info .pbg-border-gray .btn:hover, #info .pbg-dark .btn:hover {
    background-color: #FFF !important;
    color: #1C2021;
}

#info .pbg-border-blue .btn:hover, #info .pbg-light-gray .btn:hover {
    background-color: #1C2021 !important;
    color: #FFF;
}

#info .pbg-border-blue .btn, #info .pbg-light-gray .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #1C2021 !important;
    margin-bottom: 1.2rem;
    text-decoration: none;
    color: #1C2021;
}

.pbg-border-gray {
    background-color: #50616B;
    color: #FFF;
    font-weight: bolder;
}

.pbg-border-blue {
    background-color: #00B4DB;
    color: #1c2021;
    font-weight: bolder;
}

.pbg-light-gray {
    background-color: #EFEFEF;
    color: #1C2021;
    font-weight: bolder;
}

.pbg-dark {
    background-color: #1C2021;
    color: #FFF;
    font-weight: bolder;
}

.info-text {
    font-weight: normal;
    margin-bottom: 2rem;
}

/* Footer */
#footer {
    width: 100%;
    background-color: #50616B;
    padding-top: 1rem;
    color: #FFF;
    font-family: 'ZAG';
}

#footer h5, #footer h3{
    color: #FFF;
    font-family: 'Adelle';
}

#contactBlock p {
    margin-bottom: 0px;
}

#footer td {
    padding: 0.25rem;
}

#footer .footer-copyright a {
    text-decoration: none;
    color: #c7c7c7;
}

.phone-us {
    color: #FFF;
}
a.social-icon {
    text-decoration: none;
    outline:none;
    color: #FFF;
}
a.social-icon:hover {
    color: #d9d9d9;
}
a.facebook-bottom {
    display: block;
    background-color: #3c5a99;
    width: 25px;
}
.facebook-bottom:hover {
    background-color: #38388b;
}

/* About */
.caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
}

.caption-text {
    background-color: white;
}

/* Contact Us */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 770px) {
    .offset-4-unresponsive {
        margin-left: 0 !important;
    }
}

#lethbridgeMap h1 {
    color:#00B4DB;
}
#lethbridgeMap tr:nth-child(even) {
    background-color: #EFEFEF;
}

#medicineHatMap {
    display: none;
}

#lethbridgeControl, #medicineHatControl, #lethbridgeMap .btn:hover {
    color: #FFF;
    background-color: #00B4DB;
}

#lethbridgeControl:hover, #medicineHatControl:hover, #lethbridgeMap .btn:hover {
    color: #FFF;
    background-color: #25428e;
}

.active-control {
    background-color: #25428e !important;
}

/* Services */

.service-parallax {
    background-image: url("../img/services.jpg");
}
.parallax.about-parallax-1 {
    background-image: url("../img/about-1.jpg");
}
.parallax.about-parallax-2 {
    background-image: url("../img/about-2.jpg");
}

.text-on-image {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.parallax{
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 770px) {
    #optometrists {
        height: 100vh;
    }
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* FAQ */
#accordion .btn {
    color: #25428e;
}

#accordion .card-header .btn{
    white-space:normal !important;
}