html {
    scroll-behavior: smooth;
}

body {
    color: #666;
    overflow-x:hidden;
    min-width: 300px;
    padding-top: 50px;
}

nav {
    background: #34495e !important;
    color: #FFF !important;
}

/* Landing Hero */
.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.parallax-landing {
    background-image: url("../img/2_t.jpg");
}

.parallax-landing2 {
    background-image: url("../img/4.jpg");
}

.parallax-landing3 {
    background-image: url("../img/1.jpg");
}

.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .landing-hr {
        width: 75%;
        margin-left: 12.5% !important;
    }

    .landing-tag {
        font-size: 14px !important;
    }

    .landing-header {
        font-size: 36px !important;
    }
}

.landing-tag {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.landing-hr {
    height: 5px;
    border: none;
    background: #FFF;
    margin-left: 0px;
    margin-right: 0px;
}

.landing-header {
    color: #FFF;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

.involved-hr {
    height: 3px;
    border: none;
    background: #FFF;
    width: 50%;
    margin: auto;
}

.nav-link {
    color: #FFF !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #02172c;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.anchor-darkblue-white {
    color: #02172c;
}
.anchor-darkblue-white:hover {
    color: #FFF;
}

.anchor-darkblue-gray {
    color: #02172c;
}
.anchor-darkblue-gray:hover {
    color: #666;
}

.bb-gray {
    color: #666;
}

.bb-navy {
    color: #34495e;
}

.bb-darkblue {
    color: #02172c;
}

/* Home */

#overviewCarousel img {
    width: 100%;
    max-height: 850px;
}

#overviewCarousel {
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-control-prev {
    margin-left: -120px;
}

.carousel-control-next {
    margin-right: -120px;
}

.box {
    width: 300px;
    margin: 50px auto;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: #666;
    position:relative;
}

.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #f5f5f5;
    border-right: 10px solid transparent;
    border-top: 10px solid #f5f5f5;
    border-bottom: 10px solid transparent;
    right: 55px;
    top: 160px;
}

@media screen and (max-width: 600px) {
    #overviewCarousel img {
        height: 300px;
    }
}

.caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
}

.home-hero {
    background-image: url("../img/tornado_mountain.png");
    background-size: 100% 100%;
    height: 600px;
}

.caption-text {
    background: rgba(0, 0, 0, 0.5);
}

.text-on-image {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* About - History */
.history-hero {
    background-image: url("../img/7.jpg");
    background-size: 100% 100%;
    height: 400px;
}

.history-hero .caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
    width: 100%;
}

/* About - Locations */
.bulletless {
    list-style-type: none;
}

.location-img {
    width: 342px;
    height: 227px;
    margin-bottom: 10px;
}

/* About - Contact Us */
.media-icon-dark-hover {
    text-decoration: none;
}

.media-icon-dark-hover:hover {
    color: #666;
    text-decoration: none;
}

/* About - FAQ */
.faq-hero {
    background-image: url("../img/18.jpg");
    background-size: 100% 100%;
    height: 400px;
}
.faq-hero .caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
    width: 100%;
}

/* About - Events */
.event-hero {
    background-image: url("../img/20.jpg");
}
.event-hero .caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
    width: 100%;
}

.upper-caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
    width: 100%;
}
.lower-caption {
    position: relative;
    left: 0;
    top: 65%;
    text-align: center;
    width: 100%;
}

#imageGallery img {
    height: 80%;
    width: 80%;
}

.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.blue-rendezvous-hero {
    background-image: url("../img/blue-rendezvous/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.willow-creek-hero {
    background-image: url("../img/willow-creek/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.coat-creek-hero {
    background-image: url("../img/coat-creek/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.ride-a-thon-hero {
    background-image: url("../img/ride-a-thon/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.josh-nichol-hero {
    background-image: url("../img/josh-nichol/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}

.youth-8-9-hero {
    background-image: url("../img/schedule/youth/hero.jpg");
}

.youth-10-12-hero {
    background-image: url("../img/schedule/youth-up/hero.jpg");
}

.horse-camp-hero {
    background-image: url("../img/schedule/horse/hero.jpg");
}

.teen-base-hero {
    background-image: url("../img/schedule/teen-base-camp/hero.jpg");
}

.teen-pack-trip-hero {
    background-image: url("../img/schedule/teen-pack-trip/hero.jpg");
}

.father-son-hero {
    background-image: url("../img/schedule/father-son/temp_fs.JPG");
}

.father-daughter-hero {
    background-image: url("../img/schedule/father-daughter-horse-camp/hero.jpg");
}

.winter-family-days-hero {
    background-image: url("../img/schedule/winter-family/hero.jpg");
}

.family-camp-hero {
     background-image: url("../img/schedule/family-camp/hero.jpg");
}

.special-needs-family-camp-hero {
    background-image: url("../img/schedule/family-camp/hero.jpg");
}

.quad-camp-hero {
    background-image: url("../img/schedule/quad/hero.jpg");
    background-size: 100% 400px;
}

.fishing-camp-hero {
    background-image: url("../img/schedule/fishing/hero.jpg");
}

.men-in-ministry-hero {
    background-image: url("../img/schedule/men-in-ministry/hero.jpg");
}

.ladies-pack-trip-hero {
    background-image: url("../img/schedule/ladies-pack-trip/hero.jpg");
}

.couples-pack-trip-hero {
    background-image: url("../img/schedule/couples-pack-trip/hero.jpg");
}

.mens-pack-trip-hero {
    background-image: url("../img/schedule/mens-pack-trip/hero.jpg");
}

/* About - Schedule */
.schedule-hero {
    background-image: url("../img/19.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 400px;
}
.schedule-hero .caption {
    position: relative;
    left: 0;
    top: 25%;
    text-align: center;
    width: 100%;
}

/* Volunteer */
.ss {
    margin-bottom: 0;
}

#volunteerContent img {
    height: 400px !important;
    width: 100%;
}

/*  Nav */
.navbar-custom {
    background-color: #FFF;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.btn-white-navy:hover {
    background-color: #34495e;
}

.btn-white-navy-outline {
    color: white;
    border-color: white;
    border-width: medium;
}

.btn-white-navy-outline:hover {
    color: #34495e;
    background-color: white;
    border-color: white;
}

.nav-dropdown {
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    width: 100%;
    background-color: #34495e;
    padding-top: 1rem;
    color: #FFF;
}

#footer h5, #footer h3{
    color: #02172c;
}

#footer td {
    padding: 0.25rem;
}

#footer li {
    list-style-type: none;
}

#footer .footer-copyright a {
    text-decoration: none;
    color: #c7c7c7;
}

.contact-text {
    color: #FFF;
}

.contact-text:hover {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}

.media-icon {
    text-decoration: none;
}

.media-icon:hover {
    color: #FFF;
    text-decoration: none;
}

.reasonable-size-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    top: 35px;
}

.card-body {
    display: flex;
    flex-direction: column;
}
.card-link {
    margin-top: auto;
}

/** Credit to https://codepen.io/jesuarva/pen/qowdxR for shadow **/
.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
     box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
